.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ff41ac;
    font-family: montserrat;
}
li {
    float: right;
    margin-right: 60px;
}
li a{
    display: inline-block; color: rgb(0, 0, 0); text-align: center;
    padding: 20px 20px; text-decoration: none;
}
li a:hover {
    background-color: rgb(255, 145, 213);
}
.nav-bar ul li:hover::after{
width:100%; }
.nav-bar ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background:rgb(0, 0, 0);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.text {
    font-weight: 500;
    font-size: 30px;
    margin-bottom:-40px;
}
.uiux {
    font-size: 30px;
    margin-bottom:40px;
}
.landing-page {
    margin-top: 165px;
    margin-left: 60px;
    line-height:0%;
}
.heading {
    font-size: 90px;
    line-height: 100px;
    color: rgb(114, 0, 70);
}
.linktocv {
    display: inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background:rgb(247, 199, 228);
    position: relative;
    margin-left: 60px;
    margin-top: 30px;
}
.linktocv:hover {
    color:white;
    border: 1px solid black;
    background: rgb(247, 70, 179);
    transition: 1s;
}
.hireme {
    display: inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background:rgb(247, 199, 228);
    position: relative;
    margin-left: 60px;
    margin-top: 30px;
}
.hireme:hover {
    color:white;
    border: 1px solid black;
    background: rgb(247, 70, 179);
    transition: 1s;
}
.contact {
    margin-top: -50px;
    margin-right:60px;
  
}
.pfp {
   position: absolute;
   top: 125px;
   left: 900px;
   max-width: 30%;

}

